<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

  <display-name>board_mybatis</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>    
  </welcome-file-list>
  
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>FileuploadServlet</servlet-name>
  	<servlet-class>servlet.FileuploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileuploadServlet</servlet-name>
  	<url-pattern>/fileupload</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FiledownloadServlet</servlet-name>
  	<servlet-class>servlet.FiledownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FiledownloadServlet</servlet-name>
  	<url-pattern>/filedownload</url-pattern>
  </servlet-mapping>  
  
</web-app>













