<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

  <display-name>jspbasic</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>    
  </welcome-file-list>
  
  <listener>
  	<listener-class>jspbasic.listener.MyServletContextListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>jspbasic.listener.MyServletContextAttributeListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>jspbasic.listener.MyHttpSessionListener</listener-class>
  </listener>  
  
  <listener>
  	<listener-class>jspbasic.listener.MyHttpSessionAttributeListener</listener-class>
  </listener>   
  
  <listener>
  	<listener-class>jspbasic.listener.MyServletRequestListener</listener-class>
  </listener>     
  
  <listener>
  	<listener-class>jspbasic.listener.MyServletRequestAttributeListener</listener-class>
  </listener>   
  
  <filter>
  	<filter-name>LoggingFilter</filter-name>
  	<filter-class>jspbasic.filter.LoggingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoggingFilter</filter-name>
  	<url-pattern>/*</url-pattern>  
  </filter-mapping>
  
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>jspbasic.filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>홍길동</param-value>
  	</init-param>  	
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>FileuploadServlet</servlet-name>
  	<servlet-class>jspbasic.servlet.FileuploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileuploadServlet</servlet-name>
  	<url-pattern>/fileupload</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FiledownloadServlet</servlet-name>
  	<servlet-class>jspbasic.servlet.FiledownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FiledownloadServlet</servlet-name>
  	<url-pattern>/filedownload</url-pattern>
  </servlet-mapping>  
  
</web-app>













